@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap&css');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap&css');
@import url('./theme.less');

body {
  margin: 0;
  background-color: @C4;
  color: @C5;
  font-family: 'Titillium Web', sans-serif;

  overscroll-behavior: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  & > div {
    margin: 5px;
    width: image-width(@img);
    height: image-height(@img);
    background-size: cover;

    @img: './img/100x100.png';
  }

  & > div:nth-child(1) {
    background-image: url(@img);

    @img: './img/A.jpeg';
  }

  & > div:nth-child(2) {
    background-image: url(@img);

    @img: './img/B.jpeg';
  }

  & > div:nth-child(3) {
    background-image: url(@img);

    @img: './img/C.jpeg';
  }

  & > div:nth-child(4) {
    background-image: url(@img);

    @img: './img/D.jpeg';
  }

  & > div:nth-child(5) {
    background-image: url(@img);

    @img: './img/E.jpeg';
  }

  & > div:nth-child(6) {
    background-image: url(@img);

    @img: './img/F.jpeg';
  }

  & > div:nth-child(7) {
    background-image: url(@img);

    @img: './img/G.jpeg';
  }

  & > div:nth-child(8) {
    background-image: url(@img);

    @img: './img/H.jpeg';
  }

  & > div:nth-child(9) {
    background-image: url(@img);

    @img: './img/I.jpeg';
  }
}
